.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    height: 100vh;
    gap: var(--gap-1);
}

.login-section {
    display: flex;
    flex-direction: column;
    width: 35%;
    border: 0.125rem solid var(--gray600);
    padding: 2.75rem 1.5rem;
    gap: var(--gap-3);
    border-radius: var(--radius-2);
}

.header-register {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-register>h3 {
    font-size: 1.375rem;
}

.header-register>button {
    padding: 0.5rem 1rem;
    border-radius: var(--radius-2);
    background-color: transparent;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: var(--gap-6);
}

.form-input>label {
    font-weight: 600;
}

.form-input>input {
    background-color: var(--gray800);
    height: 2.75rem;
    width: 100%;
    border-radius: var(--radius-2);
    padding-left: 0.75rem;
    border: 0.0625rem solid var(--gray600);
}

.bottom-buttons {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
}

.bottom-buttons>button {
    height: 2.75rem;
    width: 100%;
    border-radius: var(--radius-2);
    font-size: 0.9375rem;
}

.register-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brand200);
    color: var(--gray900);
    border: none;
}

.back-to-login {
    background-color: transparent;
    font-weight: 500;
    font-size: 0.9375rem;
    border: 0.0625rem solid var(--gray600);
}



.petinfo-brand {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: var(--gap-4);
    padding: 0rem 2.1875rem;
}

.petinfo-text {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 400;
    gap: var(--gap-3);
}

.petinfo-text>h1 {
    font-weight: 500;
}

.petinfo-text>h3 {
    color: var(--brand100);
    font-weight: 600;
    font-size: 2.1875rem;
}

.petinfo-text>p {
    font-size: 1.3125rem;
    color: var(--gray400);
}

.cats-full {
    display: flex;
    gap: var(--gap-5);
}

.cats-full>img {
    height: 100%;
}

.cats-3 {
    display: flex;
    flex-direction: column;
    gap: var(--gap-5);
}

.cats-3>img {
    height: 100%;
}

.cats-2 {
    display: flex;
    gap: var(--gap-5);
}



.created-acc-modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1.5625rem;
    bottom: 1.5625rem;
    background-color: var(--gray900);
    padding: 1.625rem 2.8125rem;
    border-radius: var(--radius-1);
    gap: var(--gap-5);
    box-shadow: 0rem 0.25rem 1.875rem -0.75rem rgba(0, 0, 0, 0.5);
}

.created-acc-top {
    display: flex;
    align-items: center;
    gap: var(--gap-5);
}

.created-acc-top>img {
    width: 1.875rem;
}

.access-login {
    color: var(--brand200);
}