.form-input {
  gap: var(--gap-6);
}

.form-input>label {
  font-weight: 600;
}

.form-input>input {
  background-color: var(--gray800);
  height: 2.75rem;
  width: 100%;
  border-radius: var(--radius-2);
  padding-left: 0.75rem;
  border: 0.0625rem solid var(--gray600);
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brand200);
  color: var(--gray900);
  border: none;
}