.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 55%;
    margin: 3.125rem auto;
    height: max-content;
    z-index: 1;
}

.header-container>h1 {
    font-size: 1.75rem;
    font-weight: 500;
}

.user {
    display: flex;
    align-items: center;
    gap: var(--gap-5);
    height: max-content;
}

.user>button {
    padding: 0.8125rem 1.3125rem;
    background-color: var(--brand200);
    color: var(--gray900);
    font-size: 0.9375rem;
    border: none;
    border-radius: var(--radius-2);
}

.user>img {
    cursor: pointer;
    border-radius: 50%;
    height: 2.8125rem;
    width: 2.8125rem;
    border: 0.0938rem solid var(--brand200);
}

.feed-box {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: var(--gray800);
    padding: 1.5625rem 0;
    z-index: 1;
}

.feed {
    width: 55%;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1.5625rem auto;
    width: 55%;
    z-index: 1;
}

.posts-list {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--gap-1);
    margin-bottom: 6.25rem;
}

.post {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
}

.master-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info-box {
    display: flex;
    align-items: center;
    gap: var(--gap-5);
}

.user-info-box img {
    border-radius: 50%;
    height: 2.8125rem;
    width: 2.8125rem;
}

.user-info-box h4 {
    font-weight: 600;
}

.user-info-box>div,
p {
    color: var(--gray400);
}

.post-buttons {
    display: flex;
    gap: var(--gap-6);
}

.post-buttons>button {
    padding: 0.5rem 1rem;
    border-radius: var(--radius-2);
    font-size: 0.9375rem;
}

.unchoosed {
    border: none;
    background-color: var(--gray600);
    font-weight: 600;
    color: var(--gray400);
}

.choosed {
    background-color: transparent;
    border: 0.0625rem solid var(--gray600);
    color: var(--gray100);
}

.post-title>h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.post-description>h4 {
    font-size: 1.0625rem;
    font-weight: 400;
    color: var(--gray400);
}

.access-post {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--brand100);
    background-color: transparent;
    width: max-content;
    border: none;
}

.created-acc-modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: max-content;
    right: 1.5625rem;
    bottom: 1.5625rem;
    background-color: var(--gray900);
    padding: 1.625rem 2.8125rem;
    border-radius: var(--radius-1);
    gap: var(--gap-5);
    box-shadow: 0rem 0.25rem 1.875rem -0.75rem rgba(0, 0, 0, 0.5);
}

.created-acc-top {
    display: flex;
    align-items: center;
    gap: var(--gap-5);
}

.created-acc-top>img {
    width: 1.875rem;
}

.access-login {
    color: var(--brand200);
}



.disconnect {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--radius-2);
    width: 9.375rem;
    position: absolute;
    background-color: white;
    right: -3.125rem;
    bottom: -2.9375rem;
    box-shadow: 0rem 0.25rem 1.875rem -0.75rem rgba(0, 0, 0, 0.5);
}

.disconnect>p {
    color: black;
    font-weight: 600;
    padding: 0.3125rem 0.9375rem;
}

.btn-loggout {
    display: flex;
    align-items: center;
    background-color: white;
    color: var(--gray500);
    border-radius: 0 0 0.25rem 0.25rem;
    border: none;
    width: 100%;
    padding: 0.3125rem 0.9375rem;
    gap: var(--gap-6);
    font-weight: 600;
}

.btn-loggout:hover {
    background-color: var(--gray600);
    color: black;
}

.btn-loggout>img {
    width: 1.25rem;
}